.figureImage {
  width: 100%;
  // background-color: #e6e6e6;
}

.figureCaption {
  text-align: center;
  font-size: 10px;
  color: #fff;
}

.figure {
  width: 100%;
}

.evoIcon {
  font-size: 20px;
}
