.lightBlueFive {
  background-color: #00bfff;
  margin-top: 4vh;
}

.lightBlueFive:hover {
  transform: translateY(-5px);
  transition-duration: .1s;
}

.whiteFive {
  color: white;
  font-size: 137.5%;
  line-height: 125%;
  text-transform: none;
  font-family: "Flexo-Medium",arial,sans-serif;
}

.deepgreenFive {
  background-color: #41a353;
}

.deepgreenFive:hover {
  transform: translateY(-5px);
  transition-duration: .1s;
}

.wholeFive {
  margin-top: 4vh;
}

.whitePFive {
  color: white;
}

.brownFive {
  background-color: #966f40;
}

.brownFive:hover {
  transform: translateY(-5px);
  transition-duration: .1s;
}

.wordFive {
  color: #919191;
  cursor: default;
  font-size: 187.5%;
  line-height: 125%;
  margin-top: 2vh;
  margin-bottom: 3vh;
}

.yellowFive {
  background-color: #dbb953;
}

.yellowFive:hover {
  transform: translateY(-5px);
  transition-duration: .1s;
}

.blackFive {
  margin-top: 2vh;
  background-color: black;
}

.blackFive:hover {
  transform: translateY(-5px);
  transition-duration: .1s;
}

.deepBlueFive {
  background-color: #3930ba;
}

.deepBlueFive:hover {
  transform: translateY(-5px);
  transition-duration: .1s;
}

.newsFive:hover {
  transform: translateY(-5px);
  transition-duration: .1s;
}

.orangeFive {
  background-color: #db6d29;
}

.lastBlueFive {
  background-color: #00bfff;
}
