.white {
  color: white;
  font-size: 137.5%;
  line-height: 125%;
  text-transform: none;
  font-family: "Flexo-Medium",arial,sans-serif;
}

.yellow {
  background-color: #cfc125
}

.yellow:hover {
  transform: translateY(-5px);
  transition-duration: .1s;
}

.blue {
  background-color: blue;
}

.blue:hover {
  transform: translateY(-5px);
  transition-duration: .1s;
}

.black {
  background-color: black
}

.black:hover {
  transform: translateY(-5px);
  transition-duration: .1s;
}
