.MyPokemonsFormName {
  margin-top: 2vh;
  display: flex;
  justify-content: center;
}

.MyPokemonsFormTypes {
  margin-top: 2vh;
  display: flex;
  justify-content: center;
}

.MyPokemonsFormUrl {
  margin-top: 2vh;
  display: flex;
  justify-content: center;
}

.MyPokemonsFormButton {
  margin-top: 2vh;
  display: flex;
  justify-content: center;
}

.RandomName {
  margin-left: 1vh;
}
