@import '~bootstrap/scss/bootstrap';

.wholepage {
  background-color: grey;
  height: 100vh;
}

.maincontainer {
  background-color: lightgrey;
  height: 94vh;
  max-width: 1300px;
}

.mainpage {
  background-color: white;
  height: 94vh;
  margin-left: 18vh;
  margin-right: 18vh;
}
